<ul class="clr-timeline clr-timeline-horizontal" xmlns="http://www.w3.org/1999/html">
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2001 - 2005</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Bachelor's from IIITH
      </span>
      <span class="clr-timeline-step-description">
        Completed 4 of the most crucial yet exciting years of his education in 2005 and obtained his Bachelor’s in Computer science with honors in Data mining from one of the premium institutes in the country
      </span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2005 - 2006</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
      <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> New Grad now - joined Deliotte
      </span>
      <span class="clr-timeline-step-description">Fresh out of college, the eager and motivated new graduate began the first job of his career at Deloitte in 2005.</span>
    </div>
  </li>
  <li class="clr-timeline-step disabled">
    <div class="clr-timeline-step-header">2006</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Joins Microsoft
      </span>
      <span class="clr-timeline-step-description">A year later, he moved to Microsoft to begin what would later become a long and successful association that would see him achieve great things professionally and personally.</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2005 - 2017</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> IC at Microsoft
      </span>
      <span class="clr-timeline-step-description">
        As an IC at Microsoft, Pankaj took on and owned several projects including volume management stack of Windows OS, owning key components in windows kernel, developing features on networking components like Dhcp server/client, IPAM etc and architecting and developing the Network Performance Monitor service as part of Operations Management suite.
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2006</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> First trip outside India
        <clr-icon shape="employee" class="is-info is-solid"></clr-icon>
      </span>
      <span class="clr-timeline-step-description">
        Works with Customers, Partners, Engineering, Evangelism, Research
        <br/>
         - Azure Services, Windows OS and Kernel Drivers
        <br/>
         - Strategy group for Automated Data Analysis
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2011</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Marriage
      </span>
      <span class="clr-timeline-step-description">
        A huge milestone in his personal life this year when he got married to his wife Nutan and the Microsoft family grew bigger.
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2013</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Blessed with daughter
      </span>
      <span class="clr-timeline-step-description">
        Became father to a beautiful baby girl and assumed a challenging yet one of the most rewarding roles of his life.
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2015</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Blessed with son
      </span>
      <span class="clr-timeline-step-description">
        The responsibility and reward both doubled with the birth of his darling son/daughter and it became a houseful!
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2017</div>
    <cds-icon shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Moves into Managerial role at Microsoft
      </span>
      <span class="clr-timeline-step-description">
        Raised the bar and added another feather to his hat of successful stints at Microsoft when he took on the responsibility of a manager in Azure network monitoring and azure host networking team. As a Principal Software Engineering Manager, he also developed several healthcare related industry verticals in azure as part of azure global engineering team.
      </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">2019 - Present</div>
    <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title"> Present
      </span>
      <span class="clr-timeline-step-description">
        Since October 2019, he has been working as a Principal software engineer manager in the Microsoft defender team. With his leadership skills, keen insights and drive to innovate, Pankaj continues to shape the team and make huge impacts to its success and inspire everyone around him.
      </span>
    </div>
  </li>
</ul>
